DATABASE_URL=postgresql://ecobridge@localhost:5432/ecobridge
SECRET_KEY=ecobridge-dev-super-secret-key-2026
CORS_ORIGINS=["http://localhost:3000","http://localhost:3001","http://localhost:3002","http://127.0.0.1:3000","http://127.0.0.1:3001","http://127.0.0.1:3002"]
PROJECT_NAME="ECOBRIDGE Core API Server"
VERSION="0.1.0"
